client_id: "849331145862283275"
main_server: "1064135068928454766"
token:
bot_lists:
  - name: "Infinity Bot List"
    api_url: "https://spider.infinitybots.gg"
    api_token: "token here"
    auth_format: "h#Authorization/{token}"
    post_stats:
      enabled: true
      method: "POST"
      interval: 1000
      url_format: "u#{url}/bots/stats"
      data_format:
        servers: "servers"
        shards: "shards"
        users: "users"
  - name: "Select List"
    api_url: "https://fates-api.select-list.xyz"
    api_token: "token here"
    auth_format: "h#Authorization/{token}"
    post_stats:
      enabled: true
      method: "POST"
      interval: 1000
      url_format: "u#{url}/bots/{botId}/stats"
      data_format:
        guild_count: "servers"
        shard_count: "shards"
        user_count: "members"